<div class="login-body">
    {if $login_st|default:'' eq 'error'}
    <div class="alert">
        <p><img src="{$BASEURL}resource/doc/images/icon/alert.png" height="16" alt="" style="vertical-align: middle;" /> Login Failed</p>
        <p>Nomor pendaftaran anda tidak terdaftar atau belum diproses oleh Petugas Pemberkasan, Tanyakan pada petugas pelayanan pas!</p>
    </div>
    <form action="{$config->site_url('login/cbtoranglogin/login_process')}" method="post">
        <table class="table-login" width="100%">
            <tbody>
                <tr>
                    <td width="80%">Nomor Pendaftaran</td>
                    <td width="20%"><input type="text" name="peserta_id" maxlength="20" size="12" autocomplete="off" style="text-align: center;" /></td>
                </tr>
                <tr>
                    <td colspan="2" align='center'><input type="submit" value="Masuk" style="float: none;" /></td>
                </tr>
            </tbody>
        </table>
    </form>
    {elseif $login_st|default:'' eq 'foto'}
    <div class="alert">
        <p><img src="{$BASEURL}resource/doc/images/icon/alert.png" height="16" alt="" style="vertical-align: middle;" /> Login Failed</p>
        <p>Maaf anda belum melakukan foto, mintalah petugas pelayanan pas untuk memproses data foto anda!</p>
    </div>
    <form action="{$config->site_url('login/cbtoranglogin/login_process')}" method="post">
        <table class="table-login" width="100%">
            <tbody>
                <tr>
                    <td width="80%">Nomor Pendaftaran</td>
                    <td width="20%"><input type="text" name="peserta_id" maxlength="20" size="12" autocomplete="off" style="text-align: center;" /></td>
                </tr>
                <tr>
                    <td colspan="2" align='center'><input type="submit" value="Masuk" style="float: none;" /></td>
                </tr>
            </tbody>
        </table>
    </form>
    {elseif $login_st|default:'' eq 'kosong'}
    <div class="alert">
        <p><img src="{$BASEURL}resource/doc/images/icon/alert.png" height="16" alt="" style="vertical-align: middle;" /> Login Failed</p>
        <p>Masukkan nomor pendaftaran anda dibawah ini!</p>
    </div>
    <form action="{$config->site_url('login/cbtoranglogin/login_process')}" method="post">
        <table class="table-login" width="100%">
            <tbody>
                <tr>
                    <td width="80%">Nomor Pendaftaran</td>
                    <td width="20%"><input type="text" name="peserta_id" maxlength="20" size="12" autocomplete="off" style="text-align: center;" /></td>
                </tr>
                <tr>
                    <td colspan="2" align='center'><input type="submit" value="Masuk" style="float: none;" /></td>
                </tr>
            </tbody>
        </table>
    </form>
    {else}
    <div class="alert">
        <p><img src="{$BASEURL}resource/doc/images/icon/alert.png" height="16" alt="" style="vertical-align: middle;" /> You are enter restricted area</p>
        <p><strong>Please Login</strong> First to access this application!</p>
    </div>
    <form action="{$config->site_url('login/cbtoranglogin/login_process')}" method="post">
        <table class="table-login" width="100%">
            <tbody>
                <tr>
                    <td width="80%">Nomor Pendaftaran</td>
                    <td width="20%"><input type="text" name="peserta_id" maxlength="20" size="12" autocomplete="off" style="text-align: center;" /></td>
                </tr>
                <tr>
                    <td colspan="2" align='center'><input type="submit" value="Masuk" style="float: none;" /></td>
                </tr>
            </tbody>
        </table>
    </form>
    {/if}
</div>