<!DOCTYPE html>
<html lang="en">
<!-- head -->
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name='description' content="{$site.meta_desc|default:''}" />
    <meta name='keywords' content="{$site.meta_key|default:''}" />
    <meta name='robots' content='index,follow' />
    <title>Login - {$site.site_title|default:''}</title>
    <link href="{$BASEURL}/resource/doc/images/icon/logo.png" rel="SHORTCUT ICON" />
    <!-- themes style -->
    <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" media="screen" />
    <!-- other style -->
    {$LOAD_STYLE}
</head>
<!-- body -->
<body class="hold-transition login-page full">
    <div class="login-box">
        <div class="callout callout-success">
            <p><strong>Sistem Informasi Ibu Hamil</strong></p>
        </div>
        <div class="login-box-body">
            {include file="$template_content"}
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- load javascript -->
    {$LOAD_JAVASCRIPT}
    <!-- end of javascript	-->
</body>
<!-- end body -->
</html>
