<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!-- head -->
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
        <meta name='description' content="{$site.meta_desc|default:''}" />
        <meta name='keywords' content="{$site.meta_key|default:''}" />
        <meta name='robots' content='index,follow' />
        <title>Login - {$site.site_title|default:''}</title>
        <link href="{$BASEURL}/resource/doc/images/icon/logo.png" rel="SHORTCUT ICON" />
        <!-- themes style -->
        <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" media="screen" />
        <!-- other style -->
        {$LOAD_STYLE}
    </head>
    <!-- body -->
    <body class="common-login">
        <!-- load javascript -->
        {$LOAD_JAVASCRIPT}
        <!-- end of javascript	-->
        <div class="page">
            <div class="holder">
                <div class="container">
                    <div class="login-head">
                        <a href="#"><img src="{$BASEURL}/resource/doc/images/icon/user-image.png" alt="LOGO" /></a>
                        <h3>Portal Akademik</h3>
                        <h4>-</h4>
                        <h4></h4>
                    </div>
                    <div class="login-content">
                        <!-- content -->
                        {include file="$template_content"}
                        <!-- end of content -->
                    </div>
                </div>
                <span class="bottom-shadow"></span>
                <div class="footer-copyright">Copyright &copy; 2015 Time Excelindo</div>
            </div>
            <div class="clear"></div>
        </div>
    </body>
    <!-- end body -->
</html>