
</script>
<section class="content-header">
    <h1>
        Data User
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Edit</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- notification template -->
            {include file="base/templates/notification.html"}
            <!-- end of notification template-->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Data User</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{$config->site_url('master/user/edit_process')}" method="post" class="form-horizontal">
                    <input type="hidden" name="user_id" value="{$result.user_id|default:''}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">Nama User</label>
                            <div class="col-sm-4">
                                <input type="text" name="user_name" class="form-control" id="user_name" placeholder="Nama User" value="{$result.user_name|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_pass" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-2">
                                <input type="text" name="user_pass" class="form-control" id="user_pass" placeholder="password" value="{$result.user_pass|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_mail" class="col-sm-2 control-label">Email User</label>
                            <div class="col-sm-4">
                                <input type="text" name="user_mail" class="form-control" id="user_mail" placeholder="email@example.com" value="{$result.user_mail|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_st" class="col-sm-2 control-label">Status User</label>
                            <div class="col-sm-2">
                                <input type="text" name="user_st" class="form-control" id="user_st" placeholder="status" value="{$result.user_st|default:''}">

                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a class="btn btn-default" href="{$config->site_url('master/user/')}"><i class="fa fa-long-arrow-left"></i>&nbsp; Batal</a>
                        <button type="submit" class="btn btn-info pull-right">Simpan</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
