<section class="content-header">
    <h1>
        Data Pasien
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li><a href="#">Pasien</a></li>
        <li class="active">Tambah Data</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- notification template -->
            {include file="base/templates/notification.html"}
            <!-- end of notification template-->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Data Pasien</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{$config->site_url('master/pasien/add_process')}" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="pasien_nm" class="col-sm-2 control-label">Nama Pasien</label>
                            <div class="col-sm-5">
                                <input type="text" name="pasien_nm" class="form-control" id="pasien_nm" placeholder="Nama Pasien" value="{$result.pasien_nm|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="no_identitas" class="col-sm-2 control-label">No. Identitas</label>
                            <div class="col-sm-7">
                                <input type="text" name="no_identitas" class="form-control" id="no_identitas" placeholder="No. Identitas" value="{$result.no_identitas|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pasien_alamat" class="col-sm-2 control-label">Alamat</label>
                            <div class="col-sm-5">
                                <textarea name="pasien_alamat" class="form-control" rows="5" cols="40">{$result.pasien_alamat|default:''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pasien_pekerjaan" class="col-sm-2 control-label">Pekerjaan</label>
                            <div class="col-sm-6">
                                <input type="text" name="pasien_pekerjaan" class="form-control" id="pasien_pekerjaan" placeholder="Pekerjaan" value="{$result.pasien_pekerjaan|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tanggal_lahir" class="col-sm-2 control-label">Tanggal Lahir</label>
                            <div class="col-sm-2">
                                <input type="text" name="tanggal_lahir" class="form-control" id="tanggal_lahir" placeholder="Tanggal Lahir" value="{$result.tanggal_lahir|default:''}">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a class="btn btn-default" href="{$config->site_url('master/pasien/')}"><i class="fa fa-long-arrow-left"></i>&nbsp; Batal</a>
                        <button type="submit" class="btn btn-info pull-right">Simpan</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
