
<section class="content-header">
    <h1>
        Data Karyawan
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Master</a></li>
        <li><a href="#">Karyawan</a></li>
        <li class="active">Tambah Data</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- notification template -->
            {include file="base/templates/notification.html"}
            <!-- end of notification template-->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Data Karyawan</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{$config->site_url('tentang/karyawan/add_process')}" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nik" class="col-sm-2 control-label">Nik</label>
                            <div class="col-sm-5">
                                <input type="text" name="nik" class="form-control" id="nik" placeholder="Nik" value="{$result.nik|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nama_karyawan" class="col-sm-2 control-label">nama karyawan</label>
                            <div class="col-sm-7">
                                <input type="text" name="nama_karyawan" class="form-control" id="nama_karyawan" placeholder="nama_karyawan" value="{$result.nama_karyawan|default:''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alamat" class="col-sm-2 control-label">Alamat</label>
                            <div class="col-sm-5">
                                <textarea name="alamat" class="form-control" rows="5" cols="40">{$result.alamat|default:''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="no_tlp" class="col-sm-2 control-label">No tlp</label>
                            <div class="col-sm-6">
                                <input type="text" name="no_tlp" class="form-control" id="no_tlp" placeholder="no_tlp" value="{$result.no_tlp|default:''}">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a class="btn btn-default" href="{$config->site_url('tentang/karyawan/')}"><i class="fa fa-long-arrow-left"></i>&nbsp; Batal</a>
                        <button type="submit" class="btn btn-info pull-right">Simpan</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>
