
<section class="content-header">
    <h1>
        Data struktur
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Tentang</a></li>
        <li class="active">struktur</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i>&nbsp; Pencarian</h3>
                </div>
                <div class="box-body">
                    <form action="{$config->site_url('tentang/struktur/search_process')}" method="post" class="form-horizontal">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nama_jabatan" class="col-sm-3 control-label">Nama jabatan</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="nama_jabatan" class="form-control" id="nama_jabatan" placeholder="-- semua --" value="{$search.nama_jabatan|default:''}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 pull-right action-right">
                                    <input class="btn btn-primary" name="save" type="submit" value="Cari">
                                    <input class="btn btn-danger" name="save" type="submit" value="Reset">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <!-- notification template -->
            {include file="base/templates/notification.html"}
            <!-- end of notification template-->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tabel struktur organisasi</h3>
                    <div class="box-tools">
                        <a class="btn btn-sm btn-success" href="{$config->site_url('tentang/struktur/add')}"><i class="fa fa-plus"></i>&nbsp; Tambah Data</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>

                                <th width="15%">Nama jabatan</th>
                                <th width="15%">Nama karyawan</th>
                                <th width="15%">Penanggung jawab</th>
                                <th width="13%">Action</th>
                            </tr>
                            {foreach $rs_id as $result}
                            <tr>

                                <td>{$result.nama_jabatan}</td>
                                <td>{$result.nama_karyawan}</td>
                                <td>{$result.penanggung_jawab}</td>
                                <td>
                                    <a href="{$config->site_url('tentang/struktur/edit')}/{$result.nama_jabatan}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i>&nbsp; Edit</a>
                                    <a href="{$config->site_url('tentang/struktur/delete')}/{$result.nama_jabatan}" class="btn btn-xs btn-danger"><i class="fa fa-minus"></i>&nbsp; Hapus</a>
                                </td>
                            </tr>
                            {/foreach}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {$pagination.total|default:'0'}</strong> Data</li>
                        {$pagination.data|default:''}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
